.nc-signup-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 696px;
  height: 100vh;
  background: $blue;

  &__slider {
    display: flex;
    width: 320px;
    overflow: hidden;
  }

  &__controls {
    margin-top: 20px;
  }
}

.nc-signup-sidebar-controls {
  &__item {
    display: inline-block;
    width: 40px;
    height: 10px;
    background: $hover-blue;
    border-radius: 4px;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &--active {
      background: $white;
    }
  }
}
