.nc-signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: $background-grey;

  &__form {
    width: 327px;
    padding: 66px;
    background: $white;
    border-radius: 4px;
    box-shadow: 0 0 14px 20px $shadow-grey;

    @media screen and (max-device-width: 767px) {
      display: flex;
      align-items: center;
      padding: 15px;
      height: 100vh;
      width: 100vw;
    }
  }
}
