.nc-signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: $background-grey;
  position: relative;

  &__form {
    width: 327px;
    padding: 66px;
    background: $white;
    border-radius: 4px;
    box-shadow: 0 0 14px 20px $shadow-grey;
    z-index: 2;

    @media screen and (max-device-width: 767px) {
      display: flex;
      align-items: center;
      padding: 15px;
      height: 100vh;
      width: 100vw;
    }
  }

  &__logos {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
  }
}

.nc-signup-logo {
  transform: scale(0.5);
  position: absolute;
}
