.nc-signup-form {
  &__title {
    font-weight: bold;
    font-size: 32px;
    color: $black;
    margin-bottom: 13px;
    letter-spacing: 1px;
  }

  &__subtitle {
    font-size: 14px;
    color: $dark-grey;
    line-height: 19px;
    margin-bottom: 27px;
    letter-spacing: 0.2px;
  }
}
