@font-face {
  font-family: Metropolis;
  font-weight: normal;
  src: url('./woff2/Metropolis-Light.woff2') format('woff2'),
    url('./woff/Metropolis-Light.woff') format('woff');
}

@font-face {
  font-family: Metropolis;
  font-weight: bold;
  src: url('./woff2/Metropolis-Medium.woff2') format('woff2'),
    url('./woff/Metropolis-Medium.woff') format('woff');
}
